.square{
    float: left;
    width: 100px;
    height: 100px;
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    text-align: center;
    line-height: 100px
}